.nav-bar {
  position: fixed;
  right: 24px;
  bottom: 64px;
  background-color: #f3f3f3;
  width: 44px;
  border-radius: 22px;
  z-index: 2;
}
.nav-bar .nav-bar-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  cursor: pointer;
}
.nav-bar .nav-bar-item:hover {
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 15%);
}
.nav-bar .nav-bar-item:hover::before {
  color: #333;
}
.nav-bar .nav-bar-item::before {
  content: "\e607";
  font-size: 18px;
  color: #666;
}
.nav-bar .nav-bar-item.star:before {
  padding-left: 2px;
}
.nav-bar .nav-bar-item.code:before {
  content: "\e65f";
}
.nav-bar .nav-bar-item.toggle {
  transition: all 0.3s;
}
.nav-bar .nav-bar-item.toggle.close {
  transform: rotateY(-180deg);
}
.nav-bar .nav-bar-item.toggle::before {
  content: "\e620";
  font-weight: 500;
  font-size: 21px;
}
.nav-bar .nav-bar-item.code:hover .content {
  display: block;
}
.nav-bar .nav-bar-item.code .content {
  position: fixed;
  right: 80px;
  padding: 10px;
  width: 300px;
  bottom: 64px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
  box-sizing: border-box;
  display: none;
}
.nav-bar .nav-bar-item.code .content .tip {
  flex: 1;
  font-size: 13px;
  line-height: 18px;
  white-space: normal;
  color: #666;
}
.nav-bar .nav-bar-item.code .content .collection-code {
  margin-top: 10px;
  max-width: 100%;
  border-radius: 12px;
}
