@import "./fonts/iconfont.css";
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f2f2f2;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #f2f2f2;
  -webkit-box-shadow: inset 0 0 4px #f2f2f2;
  border-radius: 8px;
  background-color: #f2f2f2;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
}

.animate__animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.animate__slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

.app {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 14px;
  line-height: 20px;
}

.left-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: content-box;
}

.middle-container {
  position: fixed;
  left: 20%;
  top: 0;
  bottom: 0;
  right: 22%;
  border-left: 1px solid #e8e8e8;
  box-sizing: content-box;
  transition: all 0.5s;
}

.right-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 22%;
  right: 0;
  box-sizing: content-box;
}

.middle-container,
.right-container {
  display: flex;
  flex-direction: column;
}

.input {
  flex: 1;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  resize: none;
}

.h1 {
  user-select: none;
  padding: 0 15px;
}

.content {
  flex: 1;
  padding: 10px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.brackets {
  color: #0350fb;
}

.key {
  color: #eb6d5b;
}

.string {
  color: #60ae62;
}

.keyword {
  color: #b742b3;
}

.main-interface-name {
  color: #272725;
}

.array,
.object {
  display: inline-flex;
  width: 17px;
  height: 17px;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  user-select: none;
  cursor: default;
  transform: translate(-2px, 0.5px);
}

.key-wrapper {
  display: inline-flex;
  align-items: center;
}

.array::before,
.object::before {
  display: inline-block;
  content: "\e602";
  color: #aeb9c0;
  user-select: none;
  pointer-events: none;
  transition: all 0.3s;
  transform: translate(-2px, -1px) rotateZ(-90deg);
}

[data-fold="1"]::before {
  transform: translate(-2px, -1px) rotateZ(0deg) !important;
  transform-origin: center center;
}

.title {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 10px;
  cursor: default;
  user-select: none;
}

.title::before {
  margin-right: 5px;
  content: "\e8b2";
  font-size: 17px;
}

.right-container {
  border-left: 1px solid #e8e8e8;
}

.middle-container.hidden {
  right: 0;
}

.right-container.hidden {
  visibility: visible !important;
  transform: translateX(100%);
}

.hidden .toggle::before {
  transform: rotateY(180deg);
}

.tab-list {
  width: 100%;
  display: flex;
  height: 35px;
  background: #f3f3f3;
}

.tab-list .tab-item {
  min-width: fit-content;
  display: flex;
  align-items: center;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  font-size: 13px;
  color: #6a6a6a;
  background: #ececec;
  cursor: pointer;
  user-select: none;
}

.tab-list .tab-item.current {
  color: #333;
  background: #fff;
}

.right-container .copy-button {
  position: absolute;
  display: inline-block;
  padding: 5px 10px;
  top: 45px;
  right: 5px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #666;
}
.right-container .copy-button:hover {
  color: #333;
}
.copy-button:before {
  display: inline-block;
  margin-right: 4px;
  content: "\e8b0";
  font-size: 16px;
}
